<%- include('../template/head')-%>

    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <%- include('../template/nav')-%>
                <main role="main" class="inner cover">
                    <h1 class="cover-heading">EJS Example</h1>
                    <p class="lead">This is a basic example of EJS
                    </p>
                    <p class="lead">
                        <a href="https://ejs.co/#docs" class="btn btn-lg btn-secondary">Read EJS Documentation</a>
        </div>
    </body>
    <script>
        window.onload = function() {
            document.getElementById('home').classList.add('active');
        };
    </script>

    </html>